body {
  text-align:center;
  background-size: cover;
  color: cyan;

}
.mishqa {
  font-style: italic;
  color: cyan;
}
h1 {
  color: cyan;
}
.intro {
  text-align: center;
  font-size: 25px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}
